



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{targetVideo.snippet.title}}</title>

    <link rel="stylesheet" href="/public/common/preloader/preloader.css">
    <link rel="preload" href="/public/common/preloader/preloader.js" as="text/javascript">
</head>
<body>
    {{> preloader}}

    <link rel="stylesheet" href="/public/fonts/fonts.css" type="text/css">
    <link rel="preload" href="/public/fonts/Bainsley.ttf" as="font/ttf" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/common/common.css" type="text/css">
    {{> header}}
    
    <link rel="stylesheet" href="/public/pages/video/video.css" type="text/css">
    <main class="page-video">
        <section class="video">
            <div class="video__player" style="background: url('{{targetVideo.snippet.thumbnails.maxres.url}}') no-repeat center; background-size: cover;">
                <div class="video__play-icon"></div>
            </div>

            <h1 class="video__title">{{targetVideo.snippet.title}}</h1>

            <div class="video__actions">
                <div class="action action--donate">
                    <div class="action__icon action__icon--donate"></div>
                    <p class="action__text">donate</p>
                </div>

                <div class="action action--youtube">
                    <div class="action__icon action__icon--youtube"></div>
                    <p class="action__text">youtube</p>
                </div>

                <dialog class="modal modal--share">
                    <header class="modal__header">
                        <h1 class="modal__title">Share Video</h1>
                        <button class="modal__close-btn"></button>
                    </header>
                    <div class="modal__separator"></div>

                    <section class="modal__content">
                        <h3 class="modal__sub-title">Share via</h3>
                        <div class="modal__social-networks">
                            <div class="social-network social-network--threads"></div>
                            <div class="social-network social-network--facebook"></div>
                            <div class="social-network social-network--twitter"></div>
                        </div>
                    </section>

                    <section class="modal__manual-share">
                        <h3 class="modal__sub-title">Or copy link</h3>
                        <button id="manual-share-btn" class="modal__copy-btn">Copy</button>                            
                    </section>
                </dialog>

                <div class="action action--share">
                    <div class="action__icon action__icon--share"></div>
                    <p class="action__text">share</p>
                </div>

                <div class="action action--like">
                    <div class="action__icon action__icon--like"></div>
                    <p class="action__text">like</p>
                </div>
            </div>
        </section>


        <section class="recommendations">
            <h2 class="recommendations__header">Դիտեք նաև այլ տեսանյութեր</h2>

            <div class="recommendations__list">
                {{#each recommended}}
                    <article class="recommendations__item" data-video-id="{{snippet.resourceId.videoId}}">
                        <div class="recommendations__thumbnail" style="background: url('{{snippet.thumbnails.maxres.url}}') no-repeat; background-size: cover;"
                            onclick="window.location.href='/videos/id/{{snippet.resourceId.videoId}}';">
                        </div>
                    </article>
                {{/each}}
            </div>
        </section>
    </main>

    {{>footer}}
</body>
<script defer src="/public/pages/video/video.js"></script>
<script defer src="/public/pages/video/videoActions.js"></script>
</html>
